.btn-blue
	display: inline-block
	vertical-align: top
	font-size: 21px
	color: #FFF
	+unit
	background: #08BCF8
	position: relative
	line-height: 1
	width: 327px
	padding: 30px 20px 29px
	+box 
	+transition(background 0.3s)
	&:hover
		background: darken(#08BCF8, 20%) 
	&:active
		top: 1px
	&.js-more-btn
		&.is-active
			display: none
	&_small		
		padding: 20px 20px 19px
		width: 243px
.input
	width: 100%
	padding: 23px 16px 22px
	border: 1px solid rgba(141, 141, 141, 0.46)
	+box
	font-size: 18px
	+unit
	+transition(border-color 0.3s)
	+placeholder-color(#8d8b8b)
	&:focus
		border-color: #292929
	&.error
		border-color: #FE0000
.textarea
	width: 100%
	padding: 23px 16px 22px
	border: 1px solid rgba(141, 141, 141, 0.46)
	+box
	font-size: 18px
	+unit
	+placeholder-color(#8d8b8b)
	max-width: 100%
	height: 96px
	&:focus
		border-color: #292929
	&.is-question		
		height: 134px
	&.error
		border-color: #FE0000
.help-block
	display: none
	font-size: 0