.btn-blue
	display: inline-block
	vertical-align: top
	font-size: 21px
	color: #FFF
	+unit
	background: #08BCF8
	position: relative
	line-height: 1
	width: 327px
	padding: 30px 20px 29px
	+box 
	+transition(background 0.3s)
	&:hover
		background: darken(#08BCF8, 20%) 
	&:active
		top: 1px
	&.js-more-btn
		&.is-active
			display: none